/*// COLORS*/
$c-link:			#005ecc;
$c-default-black:	#171717;
$c-white:           #ffffff;

/*// FONTS*/
$font-base:			Roboto , Helvetica Neue, Arial, sans-serif;
$font-input:		'Source Sans Pro' , Helvetica Neue, Arial, sans-serif;